* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        padding: 2rem;
      }
      .container {
        position: relative;
        width: 100%;
         background-color: #4caf50;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        font-size: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        gap: 2rem;
      }
      .btn-add{
        padding: 1rem;
        border: none;
        background-color: greenyellow;
        border-radius:10px ;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 15px;
        left: 15px;
      }
      .avatar{
        display: block;
        margin: 0 auto;
        width: 100px;
       border-radius: 50%;
       border: 3px solid #4caf50;
      
      }